{% extends 'pages/base-app.html' %}

{% block titulo %}
    Página Inicial
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/pagina-principal.css')}}">

    <div class="main-pagina-principal">
        <h3>Lista de contas para aprovação</h3>
        {% include "includes/indicadores.html" %}
        {% include "includes/tabela-conta-a-pagar.html" %}
    </div>
{% endblock %}

{% block scriptBaseApp %}
    <script type="module" src="{{url_for('static', filename='js/tabelaContaAPagar.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/indicadores.js')}}"></script>
{% endblock %}