{% extends 'pages/base-app.html' %}

{% block titulo %}
    Página Inicial
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/pagina-principal.css')}}">

    <div class="main-pagina-principal">
        {% if current_user.tipo_acesso == 'admin' %}
            <h1>Lista de contas para aprovação</h1>
        {% elif current_user.tipo_acesso == 'financeiro' %}
            <h1>Lista de contas para serem pagas</h1>
        {% elif current_user.tipo_acesso == 'gerente' %}
            <h1>Lista de contas lançadas</h1>
        {% endif %}
        {% include "includes/tabela-conta-a-pagar.html" %}
    </div>
{% endblock %}

{% block scriptBaseApp %}
    <script type="module" src="{{url_for('static', filename='js/tabelaContaAPagar.js')}}"></script>
{% endblock %}