.full-height{
    height: 100%;
}

.app-main{
    display: flex;
    flex-direction: column;
}
.aside{
    background-color: var(--bg-bloco);
}

.main-section{
    flex: 1;
}

.main-article{
    max-height: 98vh;
    overflow-y: auto;
}

.header.bloco{
    border-radius: 0;
}




/* aside */
.aside {
    background-color: #f8f9fa; 
    border-right: 1px solid #ddd; 
    padding-top: 20px;
}

.aside img {
    max-width: 9rem;
    height: auto;
    margin-bottom: 15px;
}

.nav-link {
    font-size: 16px;
    color: #333;
    padding: 10px 0;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
}

.full-height {
    height: 100vh;
}

.bloco-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
