.modal-footer{
    display: flex;
    justify-content: space-between;
}

.area-btn-salvar{
    flex: 1 1 0;
}

#btn-salvar-usuario,
#btn-salvar-empresa{
    display: none;
}

.area-btns-editar-cancl{
    width: auto;
    padding: 0 1rem;
}