.modal-footer{
    display: flex;
    justify-content: space-between;
}

.area-btn-salvar{
    width: auto;
}

#btn-salvar-usuario,
#btn-salvar-empresa{
    display: none;
}

.area-btns-editar-cancl{
    width: auto;
    padding: 0 1rem;
    flex: 1 1 0;

    display: flex;
    justify-content: flex-end;
}

.area-btns-editar-cancl button{
    margin-left: 0.5rem;
}

#btn-exluir-usuario::after {
    display: none;
}
