<form id="notaForm" class="mb-5">
    <input type="hidden" name="id_gerente" value={{current_user.id}}>
    <input type="hidden" name="id_empresa" value={{current_user.id_empresa}}>
    <fieldset class="border p-2 mb-2">
        <legend class="w-auto text-muted small">Detalhes da Nota</legend>
        <div class="form-floating mb-1" >
            <select class="form-select" id="select-empresa" name="select-empresa" required>
                <option value="">Selecionar Empresa</option>
            </select>
            <label for="select-empresa">Selecinar Empresa</label>
        </div>
        <div class="form-floating mb-1">
            <input placeholder="Número da nota" type="text" class="form-control" id="numero_nota" name="numero_nota" required>
            <label for="numero_nota">Número da Nota</label>
        </div>
        <div id="numero_notaFeedback" class="invalid-feedback"></div>

        <div class="form-floating mb-1">
            <input placeholder="Valor da nota" type="text" class="form-control" id="valor" data-valor="" name="valor" required>
            <label for="valor">Valor da Nota</label>
        </div>
        <div id="valorFeedback" class="invalid-feedback"></div>

        <div class="form-floating mb-1">
            <input placeholder="Fornecedor" type="text" class="form-control" id="fornecedor" name="fornecedor" required>
            <label for="fornecedor">Fornecedor</label>
        </div>
        <div id="fornecedorFeedback" class="invalid-feedback"></div>
        
        <div class="form-floating mb-1">
            <input type="file" class="form-control" id="notaFiscal" name="notaFiscal" accept="image/*" required multiple>
            <label for="notaFiscal">Nota Fiscal (imagem)</label>
        </div>
        <div id="notaFiscalFeedback" class="invalid-feedback"></div>
        
        <div class="form-floating mb-1">
            <input type="date" class="form-control" id="vencimento" name="vencimento" required>
            <label for="vencimento">Vencimento</label>
        </div>
        <div id="vencimentoFeedback" class="invalid-feedback"></div>

        <div class="form-floating mb-1">
            <input placeholder="Forma de pagamento" type="text" class="form-control" id="forma_pagamento" name="forma_pagamento" required>
            <label for="forma_pagamento">Forma de Pagamento</label>
        </div>
        <div id="forma_pagamentoFeedback" class="invalid-feedback"></div>
    </fieldset>

    <div class="mb-5">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary" id="limparFormulario">Limpar</button>
    </div>
</form>