<form id="empresaForm">
    <fieldset class="border p-2 mb-2">  
        <legend class="w-auto text-muted small">Dados da empresa</legend>

        <div class="row">
            <div class="col-5">
                <div class="form-floating mb-1">
                    <input placeholder="CNPJ" type="text" class="form-control" id="cnpj" name="cnpj" required>
                    <label for="cnpj">CNPJ</label>
                </div>
                <div id="cnpjFeedback" class="invalid-feedback"></div>
            </div>
            <div class="col-7">
                <div class="form-floating mb-1">
                    <input placeholder="Razão Social" type="text" class="form-control" id="razao-social" name="razao-social" required>
                    <label for="razao-social">Razão Social</label>
                </div>
                <div id="razaoSocialFeedback" class="invalid-feedback"></div>
            </div>
        </div>
    </fieldset>

    <fieldset class="border p-2 mb-2">  
        <legend class="w-auto text-muted small">Endereço</legend>
    
        <!-- Rua e Número -->
        <div class="row">
            <div class="col-9">
                <div class="form-floating mb-1">
                    <input placeholder="Rua" type="text" class="form-control" id="rua" name="rua" required>
                    <label for="rua">Rua</label>
                </div>
                <div id="ruaFeedback" class="invalid-feedback"></div>
            </div>
            <div class="col-3">
                <div class="form-floating mb-1">
                    <input placeholder="Número" type="text" class="form-control" id="numero" name="numero" required>
                    <label for="numero">Número</label>
                </div>
                <div id="numeroFeedback" class="invalid-feedback"></div>
            </div>
        </div>
    
        <!-- Bairro e Complemento -->
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-1">
                    <input placeholder="Bairro" type="text" class="form-control" id="bairro" name="bairro" required>
                    <label for="bairro">Bairro</label>
                </div>
                <div id="bairroFeedback" class="invalid-feedback"></div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-1">
                    <input placeholder="Complemento" type="text" class="form-control" id="complemento" name="complemento" required>
                    <label for="complemento">Complemento</label>
                </div>
                <div id="complementoFeedback" class="invalid-feedback"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-1">
                    <input placeholder="Cidade" type="text" class="form-control" id="cidade" name="cidade" required>
                    <label for="cidade">Cidade</label>
                </div>
                <div id="cidadeFeedback" class="invalid-feedback"></div>
            </div>
        </div>
    
        <!-- CEP e Estado -->
        <div class="row">
            <div class="col-5">
                <div class="form-floating mb-1">
                    <input placeholder="CEP" type="text" class="form-control" id="cep" name="cep" required>
                    <label for="cep">CEP</label>
                </div>
                <div id="cepFeedback" class="invalid-feedback"></div>
            </div>
            <div class="col-7">
                <div class="form-floating mb-1">
                    <input placeholder="Estado" type="text" class="form-control" id="estado" name="estado" required>
                    <label for="estado">Estado</label>
                </div>
                <div id="estadoFeedback" class="invalid-feedback"></div>
            </div>
        </div>
    </fieldset>
    
    <fieldset class="border p-2 mb-2">  
        <legend class="w-auto text-muted small">Contato</legend>
        <div class="form-floating mb-1">
            <input placeholder="(11)9.XXXX-XXXX" type="tel" class="form-control" id="celular" name="celular" required>
            <label for="celular">Celular</label>
        </div>
        <div id="celularFeedback" class="invalid-feedback"></div>
    </fieldset>
    
    
    <button type="submit" class="btn btn-primary btn-lg mb-5" id="submit-cadastrar-empresa">Cadastrar</button>
</form>
