<!-- Modal de Usuário -->
<link rel="stylesheet" href="{{url_for('static', filename='css/modal.css')}}">
<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUsuarioLabel">Detalhes do Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-usuario-edicao">
                <div class="modal-body">
                        <div class="row">                        
                            <div class="mb-3 col-2">
                                <div class="form-floating mb-1">
                                    <input placeholder="id" type="text" class="form-control" id="id" name="id" required disabled>
                                    <label for="id">Id</label>
                                </div>
                            </div>
                            <div class="mb-3 col-5">
                                <div class="form-floating mb-1">
                                    <input placeholder="Nome" type="text" class="form-control" id="nome" name="nome" required disabled>
                                    <label for="nome">Nome</label>
                                </div>
                                <div id="nomeFeedback" class="invalid-feedback"></div>
                            </div>
                            <div class="mb-3 col-5">
                                <div class="form-floating mb-1">
                                    <input placeholder="Sobrenome" type="text" class="form-control" id="sobrenome" name="sobrenome" required disabled>
                                    <label for="sobrenome">Sobrenome</label>
                                </div>
                                <div id="sobrenomeFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <div class="form-floating mb-1">
                                    <input placeholder="email@contato.com" type="email" class="form-control" id="email" name="email" required disabled>
                                    <label for="email">Email</label>
                                </div>
                                <div id="emailFeedback" class="invalid-feedback"></div>
                            </div>
                            <div class="mb-3 col-6">
                                <div class="form-floating mb-1">
                                    <input placeholder="(11)9.XXXX-XXXX" type="tel" class="form-control" id="celular" name="celular" required disabled>
                                    <label for="celular">Celular</label>
                                </div>
                                <div id="celularFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <div class="form-floating mb-1">
                                    <select class="form-select" id="tipoAcesso" name="tipoAcesso" required disabled>
                                        <option value="">Tipo de acesso</option>
                                        <option value="admin">Administrativo</option>
                                        <option value="financeiro">Financeiro</option>
                                        <option value="gerente">Campo</option>
                                    </select>
                                    <label for="tipoAcesso">Tipo de Acesso</label>
                                </div>
                            </div>
                        </div>
                        <fieldset class="border p-2 mb-2">
                            <legend class="w-auto text-muted small">
                                Senha 
                                <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true"
                                title="<ul><li>8 caracteres ou mais</li><li>Letras maiúsculas</li><li>Letras minúsculas</li><li>Um número</li><li>Um caractere especial</li></ul>">
                                </i>
                            </legend>
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
                                    <label for="password">******</label>
                                </div>
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword-password">
                                    <i class="bi bi-eye-slash"></i>
                                </button>
                            </div>
                            <div id="passwordFeedback" class="invalid-feedback"></div>
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="Confirmar Senha" required>
                                    <label for="password-confirm">******</label>
                                </div>
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword-password-confirm">
                                    <i class="bi bi-eye-slash"></i>
                                </button>
                            </div>
                            <div id="password-confirmFeedback" class="invalid-feedback"></div>
                        </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="area-btn-salvar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-danger dropdown-toggle" id="btn-exluir-usuario" data-bs-toggle="dropdown" aria-expanded="false">
                                Excluir
                            </button>
                            <ul class="dropdown-menu p-3" id="confirm-excluir-usuario">
                                <li class="text-center mb-2">Quer mesmo excluir esse usuário?</li>
                                <li class="text-center">
                                    <button class="btn btn-sm btn-danger me-2" id="confirm-excluir-sim-usuario">SIM</button>
                                    <button type="button" class="btn btn-sm btn-secondary" id="confirm-excluir-nao-usuario">NÃO</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="area-btns-editar-cancl">
                        <button type="button" class="btn btn-outline-success" id="btn-salvar-usuario">Salvar</button>
                        <button type="button" class="btn btn-outline-info" id="btn-editar-usuario">Editar</button>
                        <button type="button" id="btn-cancelar-usuario" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
