<div class="modal fade" id="modalDetalhesConta" tabindex="-1" aria-labelledby="modalDetalhesContaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalDetalhesContaLabel">Detalhes da Conta a Pagar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h6>Empresa</h6>
              <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <th>CNPJ</th>
                          <td id="cnpj"></td>
                      </tr>
                      <tr>
                          <th>Razão Social</th>
                          <td id="razao_social"></td>
                      </tr>
                  </tbody>
              </table>

              <h6>Gerente</h6>
              <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <th>Nome</th>
                          <td><span id="nome"></span> <span id="sobrenome"></span></td>
                      </tr>
                      <tr>
                          <th>Email</th>
                          <td id="email"></td>
                      </tr>
                      <tr>
                          <th>Celular</th>
                          <td id="celular"></td>
                      </tr>
                  </tbody>
              </table>

              <h6>Conta</h6>
              <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <th>Número da Nota</th>
                          <td id="numero_nota"></td>
                      </tr>
                      <tr>
                          <th>Valor</th>
                          <td id="valor"></td>
                      </tr>
                      <tr>
                          <th>Forma de Pagamento</th>
                          <td id="forma_pagamento"></td>
                      </tr>
                      <tr>
                          <th>Fornecedor</th>
                          <td id="fornecedor"></td>
                      </tr>
                      <tr>
                          <th>Status</th>
                          <td id="status"></td>
                      </tr>
                      <tr>
                          <th>Vencimento</th>
                          <td id="vencimento"></td>
                      </tr>
                      <tr>
                          <th>Nota Fiscal</th>
                          <td>
                              <a href="#" target="_blank" id="url_nota_fiscal">Visualizar Nota Fiscal</a>
                          </td>
                      </tr>

                      <tr id="linha-comprovante">
                        <th>Comprovante de Pagamento</th>
                        <td id="conteudo-comprovante">
                            <div id="url_comprovante_pagamento">
                                <span>Nenhum comprovante disponível</span>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <th>Observações</th>
                        <td id="observacoes"></td>
                      </tr>
                  </tbody>
              </table>

              <form id="form-comprovante" enctype="multipart/form-data">
                  <h6>Enviar comprovante de Pagamento</h6>
                  <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Comprovante</th>
                            <td>
                                <input type="file" class="form-control" id="input-comprovante" name="comprovante" required>
                            </td>
                        </tr>
                        <tr>
                            <th>Adicionar observação</th>
                            <td>
                                <div>
                                    <div class="form-floating mb-1">
                                        <textarea placeholder="Observações" class="form-control" 
                                        id="observacao" name="observacoes" style="height: 100px" required></textarea>
                                        <label for="observacoes">Observações</label>
                                    </div>
                                    <div id="observacoesFeedback" class="invalid-feedback"></div>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                  </table>
              </form>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Salvar Comprovante</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              </div>
          </div>
      </div>
  </div>
</div>
