<link rel="stylesheet" href="{{url_for('static', filename='css/modal.css')}}">
<div class="modal fade" id="modalEmpresas" tabindex="-1" aria-labelledby="modalEmpresasLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEmpresasLabel">Detalhes da Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-empresa-edicao">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="id" disabled>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating mb-1">
                            <input placeholder="CNPJ" type="text" class="form-control" id="cnpj" name="cnpj" required disabled>
                            <label for="cnpj">CNPJ</label>
                        </div>
                        <div id="cnpjFeedback" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating mb-1">
                            <input placeholder="Razão Social" type="text" class="form-control" id="razao-social" name="razao_social" required disabled>
                            <label for="razao-social">Razão Social</label>
                        </div>
                        <div id="razaoSocialFeedback" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="area-btn-salvar">
                        <button type="button" class="btn btn-success" id="btn-salvar-empresa">Salvar</button>
                    </div>
                    <div class="area-btns-editar-cancl">
                        <button type="button" class="btn btn-info" id="btn-editar-empresa">Editar</button>
                        <button type="button" id="btn-cancelar-usuario" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>