<div class="container mt-5">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Número da Nota</th>
                <th scope="col">Valor da Nota (R$)</th>
                <th scope="col">Forma de Pagamento</th>
                <th scope="col">Data de Vencimento</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    {% include "includes/modal-detalhes-conta.html"%}
</div>